@import url(https://db.onlinewebfonts.com/c/9f1fcf12eb3a3f5205780e78122c6aac?family=Prelo+Slab+W01+Bold);
@import url(https://db.onlinewebfonts.com/c/50feb285058d549e75c29ba63f9c8041?family=Prelo+Slab+W04+Medium);

@font-face {
  font-family: "Prelo Slab Bold";
  src: url("https://db.onlinewebfonts.com/t/9f1fcf12eb3a3f5205780e78122c6aac.ttf")format("truetype");
}

@font-face {
  font-family: "Prelo Slab Medium";
  src: url("https://db.onlinewebfonts.com/t/50feb285058d549e75c29ba63f9c8041.ttf")format("truetype");
}