@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/components/buttons';
@import '../../../../assets/scss/components/inputs';
@import '../../../../assets/scss/components/fields';
@import '../../../../assets/scss/components/alerts';
@import '../../../../assets/scss/components/modals';

.app-content {
  width: 50%;
  background-color: $c-wh;
  margin: 0 auto;
  .header {
    width: 100%;
    text-align: center;
    display: block;
    h1 {
      &.title {
        width: 100%;
        font-family: $bold;
        font-size: 30px;
        color: $c-gr-dk;
        padding: 30px 50px;
        box-sizing: border-box;
      }
    }
  }
  .divider {
    width: 100%;
    height: 2px;
    background-color: $c-gr-dk;
  }
  .form-container {
    padding: 30px 50px;
    box-sizing: border-box;
    form {
      .form-fields {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .form-field {
          width: calc(50% - 20px);
          &.disabled {
            opacity: 0.6;
            pointer-events: none;
          }
          &:nth-child(odd) {
            margin-right: 20px;
          }
          &:nth-child(even) {
            margin-left: 20px;
          }
        }
      }
      .form-actions {
        display: flex;
        justify-content: center;
        button {
          &:nth-child(odd) {
            margin-right: 40px;
          }
          &:nth-child(even) {
            margin-left: 40px;
          }
        }
      }
    }
  }
}