@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/components/buttons';
@import '../../../../assets/scss/components/inputs';

.app-content {
  width: 100%;
  padding-top: 50px;
  .top-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  .table-content {
    background-color: $c-wh;
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 30px;
    padding-bottom: 60px;
    .table {
      overflow-x: auto;
    }
    .footer-content-table {
      margin-top: 20px;
      font-family: $bold;
      font-size: 18px;
      color: $c-gr-dk;
    }
  }
}