@import '../variables';

button {
  height: 45px;
  line-height: 45px;
  border-radius: 10px;
  padding: 0 20px;
  font-family: $bold;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  &.primary {
    border: none;
    background-color: $c-yellow;
    color: $c-blue;
  }
}