@import "../../assets/scss/variables";

.body-container {
  display: block;
  width: 100%;
  height: calc(100% - 140px);
  min-height: 100vh;
  background-color: $c-gr;
  padding: 20px 0;
  .content {
    width: 90%;
    margin: 0 5%;
    p {
      font-family: $regular;
    }
  }
}