@import "../../../../assets/scss/variables";
@import "../../../../assets/scss/components/buttons";

.body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  background-color: $c-gr;
  .content {
    width: 50%;
    height: 50%;
    background-color: $c-wh;
    text-align: center;
    margin: 10% auto;
    padding: 30px 15px;
    h1 {
      font-family: $bold;
      font-size: 300px;
      color: $c-blue;
      span {
        color: $c-yellow;
      }
    }
    h3 {
      font-family: $regular;
      font-size: 25px;
      padding-top: 20px;
    }
    .button-content {
      display: inline-block;
      margin-top: 20px;
    }
    @media (max-width: 1100px) {
      margin: 25% auto;
      h1 {
        font-size: 200px; 
      }
      h3 {
        font-size: 14px; 
      }
    }
    @media (max-width: 690px) {
      height: auto;
      h1 {
        font-size: 80px; 
      }
      h3 {
        font-size: 14px; 
      }
    }
  }
}